@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-VariableFont_wght.ttf");
}

body {
  font-family: Figtree, sans-serif;
  background-color: #F4D04E;
}

.card {
  background-color: white;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 150%;
  letter-spacing: 0;
  color: #111111;
}

p {
  font-size: 1rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  color: #6B6B6B;
}

h2 {
  font-size: 0.875rem;
  line-height: 150%;
  letter-spacing: 0;
  color: #111111;
}

span {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0;
  color: #111111;
}
