@font-face {
  font-family: Figtree;
  src: url("../fonts/Figtree-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    margin: 0;
    padding: 0;
  }
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: Figtree, sans-serif;
  background-color: #F4D04E;
  margin: 0;
}

h1, p {
  padding-top: 12px;
}

h1, h2, p, span {
  line-height: 150%;
  letter-spacing: 0;
  color: #111111;
}

h1 {
  font-size: 1.5rem;
  font-weight: 800;
}

h2 {
  font-size: 0.875rem;
  font-weight: 500;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  border: 1px solid #111111;
  box-shadow: 8px 8px 0px #000000;
  border-radius: 20px;
  padding: 1.5rem;
  width: 327px;
  @media (min-width: 1028px) {
    width: 384px;
  }
}

.card-img {
  border-radius: 10px;
  width: auto;
  height: auto;
  object-fit: cover;
}

.card-type-container {
  background-color: #F4D04E;
  width: fit-content;
  border-radius: 4px;
}

.card-type-content {
  font-size: 0.75rem;
  padding: 4px 12px;
  font-weight: 800;
  @media (min-width: 1028px) {
    font-size: 0.875rem;
  }
}

.card-date {
  font-size: 0.75rem;
  font-weight: 500;
  color: #111111;
  @media (min-width: 1028px) {
    font-size: 0.875rem;
  }
}

.card-title {
  font-size: 1.25rem;
  font-weight: 800;
  @media (min-width: 1028px) {
    font-size: 1.5rem;
  }
}

.card-description {
  font-size: 0.875rem;
  font-weight: 500;
  color: #6B6B6B;
  @media (min-width: 1028px) {
    font-size: 1rem;
  }
}

.card-content {
  margin-top: 24px;
}

.card-author {
  margin-top: 24px;
  display: flex;
  align-items: center;
  column-gap: 12px;
  img {
    width: 32px;
    height: 32px;
  }
}

